@import "tailwindcss";

:root {
  --background: #f7f8fc;
  --foreground: #252733;
}
@theme {
  --font-display: "Mulish", sans-serif;
  --breakpoint-3xl: 120rem;
  --color-app-primary: #3751ff;
  --color-app-light-blue: #dde2ff;
  --color-app-light-white: #f7f8fc;
  --color-app-light-gray: #f0f1f7;
  --color-app-light-stone: #DFE0EB;
  --color-app-dark-blue: #101828;
  --color-app-dark-gray: #363740;
  --color-app-dark-gray-200: #344054;
  --color-app-dark-gray-100: #D0D5DD;
  --color-app-darker-gray: #252733;
  --color-app-gray-text: #a4a6b3;
  --color-app-gray-muted: #9fa2b4;
  --color-app-purple: #7f56d9;
  --color-app-light-purple: #f4ebff;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}
